<div class="flex mb-2 md:flex-col md:mb-0 h-full">
	<img
		class="mr-4 w-auto h-36 md:w-full md:h-auto object-cover"
		src="<%= image %>"
		alt="<%= title %> | Gill Juergens Photography"
		loading="lazy"
	/>
	<div class="flex flex-col h-full">
		<div class="flex-grow">
			<h3
				class="text-4xl font-[Meritocracy] font-light md:mt-4 mb-2.5 text-gray-900"
			>
				<%= title %>
			</h3>
			<p class="text-gray-900 font-light mb-4"><%= description %></p>
		</div>
		<div class="mt-auto">
			<a
				href="<%= link %>"
				class="inline-flex items-center px-6 py-3 text-sm font-light text-white bg-gill-green-600 border border-transparent shadow-sm hover:bg-gill-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gill-green-500 transition-colors duration-200"
			>
				<%= buttonText %>
			</a>
		</div>
	</div>
</div>
