<% const service = site.data[page.title.toLowerCase().replace(/\s+/g,
'-').replace(/[^a-z0-9-]/g, '')] %>

<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				<%= service.intro.title %>
			</h2>
			<% service.intro.copy.forEach(function(paragraph) { %>
			<p class="mb-8 font-light text-gray-500 sm:text-xl"><%= paragraph %></p>
			<% }); %>
		</div>
	</div>
</section>

<section class="bg-white">
	<% if (service.image_set_1) { %>
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<% service.image_set_1.forEach(function(imageItem) { %>
			<div class="w-full">
				<img
					src="<%= imageItem.image %>"
					alt="Packaging design example"
					class="w-full h-auto object-cover"
				/>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>

	<!-- prettier-ignore -->
	<% if (service.core_services) { %>
		<%- partial('_partials/service/core-services', { core_services: service.core_services }) %>
	<% } %>
</section>

<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h3 class="mb-4 text-2xl tracking-tight font-bold text-gray-900">
				<%= service.content_1.heading %>
			</h3>
			<% if (service.content_1 && Array.isArray(service.content_1.copy)) {
			service.content_1.copy.forEach(function(paragraph) { %>
			<p class="mb-4 font-light text-gray-500 sm:text-lg"><%= paragraph %></p>
			<% }); } %>
		</div>
	</div>
</section>

<section class="bg-white">
	<% if (service.image_set_2) { %>
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<% service.image_set_2.forEach(function(imageItem) { %>
			<div class="w-full">
				<img
					src="<%= imageItem.image %>"
					alt="Packaging design example"
					class="w-full h-auto object-cover"
				/>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>
</section>

<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h3 class="mb-4 text-2xl tracking-tight font-bold text-gray-900">
				<%= service.content_2.heading %>
			</h3>
			<% if (service.content_2 && Array.isArray(service.content_2.copy)) {
			service.content_2.copy.forEach(function(paragraph) { %>
			<p class="mb-4 font-light text-gray-500 sm:text-lg"><%= paragraph %></p>
			<% }); } %>
		</div>
	</div>
</section>

<!-- prettier-ignore -->
<% if (service.prices) { %>
	<%- partial('_partials/service/prices', { prices: service.prices }) %>
<% } %>

<!-- prettier-ignore -->
<% if (service.add_to_package) { %>
	<%- partial('_partials/service/add-ons', { add_to_package: service.add_to_package }) %>
<% } %>

<!-- prettier-ignore -->
<%- partial('_partials/service/service-projects', { category: page.title }) %>
