<article
	class="p-4 bg-white rounded-md border border-gray-200 shadow-md flex flex-col h-full"
>
	<a href="<%= link %>">
		<img
			class="mb-5 rounded-md w-full h-auto"
			src="<%= image %>"
			alt="<%= title %> | Gill Juergens Photography"
		/>
	</a>

	<div class="flex flex-col flex-grow">
		<h3 class="my-2 text-2xl font-light tracking-tight text-gray-900">
			<a href="<%= link %>"><%= title %></a>
		</h3>
		<p class="mb-4 font-light text-gray-500 flex-grow"><%= description %></p>
		<div class="mt-auto">
			<a
				href="<%= link %>"
				class="inline-flex items-center px-6 py-3 text-sm font-light text-white bg-gill-green-600 border border-transparent shadow-sm hover:bg-gill-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gill-green-500 transition-colors duration-200"
			>
				<%= buttonText %>
			</a>
		</div>
	</div>
</article>
