<!DOCTYPE html>
<html lang="en-AU">
	<%- partial('_partials/head') %>

	<body class="relative antialiased bg-primary-50">
		<!-- Navbar -->
		<%- partial('_partials/header') %>

		<!-- Content -->
		<%- body %>

		<!-- Newsletter -->
		<%- partial('_partials/newsletter') %>

		<!-- Footer -->
		<%- partial('_partials/footer') %>

		<!-- After Footer -->
		<%- partial('_partials/after-footer') %>
	</body>
</html>
