<main class="pb-16 lg:pb-24 bg-white antialiased">
	<header class="relative h-[60vh]">
		<div class="absolute inset-0">
			<img
				src="<%= page.image %>"
				alt="<%= typeof page.title !== 'undefined' && page.title ? page.title : 'Creative Studio Melbourne' %>"
				class="w-full h-full object-cover"
			/>
			<div class="absolute inset-0 bg-black/60"></div>
		</div>
		<div
			class="absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0"
		>
			<div class="block mb-4 font-bold text-gray-300">
				Hindsight
				<span class="font-normal text-white hover:underline">Creative</span>
			</div>
			<h1
				class="mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl"
			>
				<%= page.title %>
			</h1>
			<p class="text-lg font-normal text-gray-300"><%= page.subtitle %></p>
		</div>
	</header>

	<div
		class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-white rounded xl:-m-32 xl:p-9 xl:mx-auto"
	>
		<article
			class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base"
		>
			<header class="lead"><%= page.description %></header>
			<main>
				<%- page.content %>
				<div class="not-format">
					<a
						href="<%= url_for('/contact/') %>"
						class="text-white bg-primary-900 hover:bg-primary-700 font-medium text-sm px-5 py-2.5 mr-2 mb-2 text-center w-full"
					>
						Let's chat
					</a>
				</div>
			</main>
		</article>
		<aside class="hidden xl:block" aria-labelledby="sidebar-label">
			<div class="xl:w-[336px] sticky top-6">
				<h3 id="sidebar-label" class="sr-only">Sidebar</h3>
				<div class="mb-8">
					<h4 class="mb-2 text-sm font-bold text-gray-900 uppercase">
						Hindsight Creative
					</h4>
					<p class="mb-4 text-sm text-gray-500">
						Let's work together to create something great. We're here to help
						you achieve your goals.
					</p>
					<a
						href="<%= url_for('/contact/') %>"
						class="block text-white bg-primary-900 hover:bg-primary-700 font-medium text-sm px-5 py-2.5 mr-2 mb-2 text-center w-full"
					>
						Get in touch
					</a>
				</div>
				<div class="mb-12">
					<h4 class="mb-4 text-sm font-bold text-gray-900 uppercase">
						Our Services
					</h4>
					<% site.pages.filter(page => page.layout ===
					'service').forEach(function(service, index) { %>
					<div class="mb-6 flex items-center">
						<a href="<%= url_for(service.path) %>" class="shrink-0">
							<img
								src="<%= url_for(service.image) %>"
								class="mr-4 max-w-full w-24 h-24 object-cover"
								alt="<%= service.title %> | Hindsight Creative Melbourne"
							/>
						</a>
						<div>
							<h5 class="mb-2 text-lg font-bold leading-tight text-gray-900">
								<%= service.title %>
							</h5>

							<a
								href="<%= url_for(service.path) %>"
								class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 hover:no-underline"
							>
								Learn more
							</a>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
		</aside>
	</div>
</main>

<!-- prettier-ignore -->
<%- partial('_partials/faqs', { service: page.title, title: 'Frequently asked questions' }) %>

<aside aria-label="Related articles" class="py-8 lg:py-24 bg-white">
	<div class="px-4 mx-auto max-w-screen-xl">
		<h2 class="mb-6 lg:mb-8 text-2xl font-bold text-gray-900">
			Related projects
		</h2>
		<div class="grid gap-6 lg:gap-12 md:grid-cols-2">
			<% site.posts.filter(post => post.layout === 'work' && post.categories &&
			post.categories.some(category => category.name ===
			page.title)).forEach(function(project, index) { %>
			<article class="flex flex-col xl:flex-row">
				<a href="#" class="mb-2 xl:mb-0">
					<img
						src="/portfolio/<%= project.source.replace(/\.md$/, '').split('/').pop() %>/<%= project.image %>"
						class="mr-5 w-full xl:w-48 h-48 object-cover"
						alt="<%= project.title %> | Hindsight Creative Melbourne"
					/>
				</a>
				<div class="flex flex-col justify-center">
					<h2 class="mb-2 text-xl font-bold leading-tight text-gray-900">
						<a href="#"><%= project.title %></a>
					</h2>
					<p class="mb-4 text-gray-500 max-w-sm"><%= project.subtitle %></p>
					<a
						href="#"
						class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 hover:no-underline"
					>
						Read more
					</a>
				</div>
			</article>
			<% }); %>
		</div>
	</div>
</aside>
