<section class="bg-white antialiased">
	<div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-8">
		<div class="max-w-3xl mx-auto text-center">
			<h1
				class="text-xl font-light leading-tight tracking-tight mb-6 text-gray-900 sm:text-2xl"
			>
				Melbourne Lifestyle Photographer
			</h1>
			<h2
				class="text-3xl font-light leading-tight tracking-tight text-gray-900 sm:text-4xl"
			>
				<span
					class="font-[Meritocracy] transform -rotate-5 inline-block text-7xl md:text-6xl font-light -mb-4 sm:mb-0"
					>What I do</span
				>
			</h2>

			<% if (page.content) { %>
			<div class="mt-4 text-base font-light text-gray-800 sm:text-xl">
				<%- page.content %>
			</div>
			<% } %>
		</div>
	</div>

	<div class="mb-12 space-y-16 sm:mb-16">
		<% site.pages.filter(page => ['service', 'packaging', 'websites',
		'branding'].includes(page.layout)).forEach(function(service, index) { const
		isEven = index % 2 === 0; %>
		<div class="service relative mt-8 sm:mt-12 md:mt-24 lg:mt-32">
			<div
				class="flex flex-col lg:flex-row w-full gap-y-8 sm:gap-y-12 lg:gap-x-0"
			>
				<!-- Image -->
				<div
					class="relative w-full lg:w-2/5 <%= isEven ? 'lg:order-2' : 'lg:order-1' %> parallax-container"
				>
					<img
						class="w-full h-[600px] object-cover parallax-image"
						src="<%= service.image %>"
						alt="<%= service.title.replace(/\s+in\s+Melbourne/i, '') %> | Gill Juergens Photography"
						loading="lazy"
					/>
				</div>

				<!-- Text content -->
				<div
					class="w-full lg:w-3/5 px-4 lg:px-16 flex flex-col justify-center <%= isEven ? 'lg:order-1' : 'lg:order-2' %>"
				>
					<div class="space-y-6 max-w-xl mx-auto">
						<h2
							class="text-3xl font-light leading-tight text-gray-900 sm:text-4xl"
						>
							<%= service.title.replace(/\s+in\s+Melbourne/i, '') %>
						</h2>
						<p class="text-base font-light text-gray-900 sm:text-lg">
							<%= service.description %>
						</p>
						<a
							href="<%= url_for(service.path) %>"
							class="inline-flex items-center text-white bg-primary-900 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 font-light text-sm px-5 py-2.5 whitespace-nowrap rounded-md"
							role="button"
						>
							<%= service.title %>
							<svg
								aria-hidden="true"
								class="w-5 h-5 ml-2 -mr-1 flex-shrink-0"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
									clip-rule="evenodd"
								/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</section>
