<!-- prettier-ignore -->
<%
// Get the page data from the page object
var pageData = page;
%>

<main class="pb-16 lg:pb-24 bg-white antialiased">
	<header class="relative h-[60vh]">
		<div class="absolute inset-0">
			<img
				src="<%= page.image || '/img/family.jpg' %>"
				alt="<%= typeof page.title !== 'undefined' && page.title ? page.title : 'Family Photography in ' + page.suburb %>"
				class="w-full h-full object-cover"
			/>
			<div class="absolute inset-0 bg-black/60"></div>
		</div>
		<div
			class="absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0"
		>
			<div class="block mb-4 font-bold text-gray-300">
				<%= page.category.charAt(0).toUpperCase() + page.category.slice(1) %>
				<span class="font-normal text-white hover:underline">Photography</span>
			</div>
			<h1
				class="mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl"
			>
				<%= page.title %>
			</h1>
			<p class="text-lg font-normal text-gray-300"><%= page.subtitle %></p>
		</div>
	</header>

	<div
		class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-white rounded xl:-m-32 xl:p-9 xl:mx-auto"
	>
		<article
			class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base"
		>
			<header class="lead"><%= page.description %></header>
			<main>
				<%- page.content %>
				<div class="not-format">
					<a
						href="<%= url_for('/contact/') %>"
						class="text-white bg-primary-900 hover:bg-primary-700 font-medium text-sm px-5 py-2.5 mr-2 mb-2 text-center w-full"
					>
						Let's chat
					</a>
				</div>
			</main>
		</article>
		<aside class="hidden xl:block" aria-labelledby="sidebar-label">
			<div class="xl:w-[336px] sticky top-6">
				<h3 id="sidebar-label" class="sr-only">Sidebar</h3>
				<div class="mb-8">
					<h4 class="mb-2 text-sm font-bold text-gray-900 uppercase">
						<%= page.category.charAt(0).toUpperCase() + page.category.slice(1)
						%> Photography in <%= page.suburb %>
					</h4>
					<p class="mb-4 text-sm text-gray-500">
						Let's work together to create something great. I'm here to help you
						capture your precious moments in <%= page.suburb %>.
					</p>
					<a
						href="<%= url_for('/contact/') %>"
						class="block text-white bg-primary-900 hover:bg-primary-700 font-medium text-sm px-5 py-2.5 mr-2 mb-2 text-center w-full"
					>
						Get in touch
					</a>
				</div>
				<div class="mb-12">
					<h4 class="mb-4 text-sm font-bold text-gray-900 uppercase">
						Our Services
					</h4>
					<% site.pages.filter(page => page.layout ===
					'service').forEach(function(service, index) { %>
					<div class="mb-6 flex items-center">
						<a href="<%= url_for(service.path) %>" class="shrink-0">
							<img
								src="<%= url_for(service.image) %>"
								class="mr-4 max-w-full w-24 h-24 object-cover rounded-lg"
								alt="<%= service.title %> | Photographer <%= page.suburb %>"
								loading="lazy"
							/>
						</a>
						<div>
							<h5 class="mb-2 text-lg font-bold leading-tight text-gray-900">
								<%= service.title %>
							</h5>

							<p class="text-sm text-gray-500">
								<%= service.title %> services in <%= page.suburb %>
							</p>

							<a
								href="<%= url_for(service.path) %>"
								class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 hover:no-underline"
							>
								Learn more
							</a>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
		</aside>
	</div>
</main>

<!-- Projects  -->
<%- partial('_partials/suburbs/latest-projects', {category: page.category}) %>

<!-- Local References -->
<%- partial('_partials/suburbs/local-references', {suburb: page.suburb}) %>

<!-- Random FAQs  -->
<%- partial('_partials/suburbs/random-faqs', {suburb: page.suburb, category:
page.category}) %>
