<section class="not-format max-w-xl">
	<h2 class="text-2xl font-bold text-gray-900 my-4">
		My <%= category %> Photography Service
	</h2>
	<p class="mb-4 text-base text-gray-700">
		I'm a <%= category %> photographer in <%= suburb %>. I'm here to make
		capturing <%= category %> moments simple, natural, and fun.
	</p>
	<p class="mb-4 text-base text-gray-700">
		Whether you live in <%= suburb %> or in one of its surrounding suburbs, I'm
		here to make capturing <%= category %> moments simple, natural, and fun.
	</p>
	<a
		href="/melbourne-<%= category %>-photographer/"
		class="uppercase inline-block mb-8 bg-gill-green-400 text-white hover:bg-gill-green-600 rounded-md px-7 py-3 no-underline"
		><%= category %> photography</a
	>
</section>

<section class="not-format max-w-xl">
	<h2 class="text-2xl font-bold text-gray-900 my-4">
		Let's talk about your <%= category %> photos
	</h2>

	<img
		src="<%= url_for('img/gill.jpg') %>"
		alt="<%= category %> photographer in <%= suburb %> capturing happy children"
		class="rounded-lg shadow-lg h-auto mb-4"
		loading="lazy"
	/>
	<h3 class="text-2xl font-bold text-gray-900 mb-4">Hi, I'm Gill</h3>
	<p class="mb-4 text-base text-gray-700">
		If you’re looking for a friendly, professional
		<strong><%= category %> photographer in <%= suburb %></strong>, I’d love to
		hear from you.
	</p>
	<p class="mb-6 text-base text-gray-700">
		Whether you live in <%= suburb %> or in one of its surrounding suburbs, I'm
		here to make capturing <%= category %> moments simple, natural, and fun.
	</p>
	<a
		href="/book-lifestyle-photographer-in-melbourne/"
		class="bg-gill-green-400 text-white hover:bg-gill-green-600 rounded-md px-7 py-3 no-underline"
		>Get in touch</a
	>
</section>
