<!-- Intro -->
<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				<%= service.intro.title %>
			</h1>
			<h3 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900">
				<%= service.intro.subtitle %>
			</h3>
			<!-- prettier-ignore -->
			<% service.intro.copy.forEach(function(paragraph) { %>
			<p class="mb-8 font-light text-gray-500 sm:text-xl"><%= paragraph %></p>
			<% }); %>

			<a
				href="/portfolio/<%= page.data %>/"
				class="inline-block px-8 py-4 mt-6 text-[10px] font-bold uppercase tracking-[0.25em] text-white bg-primary-800 no-underline border-none cursor-pointer transition-all duration-700 ease-in-out overflow-hidden relative z-[1] hover:bg-primary-500 transform translate-y-4 group-hover:translate-y-0"
				data-cursor="cursor-link"
			>
				View Photos
			</a>
		</div>
	</div>

	<!-- prettier-ignore -->
	<% if (service.intro_images) { %>
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<!-- prettier-ignore -->
			<% service.intro_images.forEach(function(imageItem, index) { %>
			<div
				class="w-full <%= index >= 1 ? 'hidden md:block' : '' %> <%= index >= 2 ? 'hidden lg:block md:hidden' : '' %>"
			>
				<img
					src="<%= imageItem.image %>"
					alt="<%= service.intro.title %>"
					class="w-full h-auto object-cover"
					loading="lazy"
				/>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>
</section>
