<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				<%= prices.heading %>
			</h2>
			<p class="mb-5 font-light text-gray-500 sm:text-xl">
				<%- prices.intro %>
			</p>
		</div>
		<div class="space-y-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
			<% prices.packages.forEach(function(package) { %>
			<!-- Pricing Card -->
			<div
				class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white border border-gray-100 shadow xl:p-8 h-full"
			>
				<% if (package.most_popular) { %>
				<div class="mb-2">
					<span
						class="py-1 px-3 text-sm text-primary-800 bg-primary-100 rounded dark:bg-primary-200 dark:text-primary-800"
						>Most popular</span
					>
				</div>
				<% } %>
				<h3 class="mb-4 text-2xl font-semibold"><%= package.title %></h3>
				<div class="flex justify-center items-baseline my-8">
					<span class="mr-2 text-5xl font-extrabold"><%= package.price %></span>
				</div>
				<!-- List -->
				<ul role="list" class="mb-8 space-y-4 text-left flex-grow">
					<% package.description.forEach(function(feature) { %>
					<li class="flex items-start space-x-3">
						<!-- Icon -->
						<svg
							class="flex-shrink-0 w-5 h-5 text-green-500 mt-0.5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							></path>
						</svg>
						<span class="text-sm"><%= feature %></span>
					</li>
					<% }); %>
				</ul>
				<a
					href="/contact"
					class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium text-sm px-5 py-2.5 text-center"
					>Book now</a
				>
			</div>
			<% }); %>
		</div>
	</div>
</section>
