<!-- Process -->
<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h1 class="mb-4 text-4xl tracking-tight font-light text-gray-900">
				<%= service.process.title %>
			</h1>
			<h3 class="mb-10 text-2xl tracking-tight font-light text-gray-900">
				<%= service.process.subtitle %>
			</h3>

			<ol class="relative border-s border-gray-200 ml-2">
				<!-- prettier-ignore -->
				<% service.process.copy.forEach(function(step, index) { %>
				<li class="mb-10 ms-4">
					<div
						class="absolute w-3 h-3 bg-primary-800 rounded-full mt-1.5 -start-1.5 border border-white"
					></div>
					<time
						class="font-[Meritocracy] text-2xl md:text-3xl lg:text-4xl font-light leading-none text-gill-green-400"
						>Step <%= index + 1 %></time
					>
					<h3 class="text-lg font-normal text-gray-900 my-4">
						<%= step.split(' - ')[0] %>
					</h3>
					<p class="text-base font-light text-gray-900">
						<%= step.split(' - ')[1] %>
					</p>
				</li>
				<% }); %>
			</ol>

			<a
				href="/book-lifestyle-photographer-in-melbourne/"
				class="inline-block px-8 py-4 mt-6 text-[10px] font-light uppercase tracking-[0.25em] text-white bg-primary-800 no-underline border-none cursor-pointer transition-all duration-700 ease-in-out overflow-hidden relative z-[1] hover:bg-primary-500 transition-all duration-700 ease-in-out"
				data-cursor="cursor-link"
			>
				Book Now
			</a>
		</div>
	</div>

	<!-- prettier-ignore -->
	<% if (service.process_images) { %>
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<!-- prettier-ignore -->
			<% service.process_images.forEach(function(imageItem, index) { %>
			<div
				class="w-full <%= index >= 1 ? 'hidden md:block' : '' %> <%= index >= 2 ? 'hidden lg:block md:hidden' : '' %>"
			>
				<img
					src="<%= imageItem.image %>"
					alt="<%= service.process.title %>"
					class="w-full h-auto object-cover"
					loading="lazy"
				/>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>
</section>
